################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fruitivy/v17
/fruitivy/.vs/fruitivy/FileContentIndex
